{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% set array = [] %}
{% if taxlist %}
<ul class="archives">
    {% for tax,value in taxlist[taxonomy] %}
    {% set array = array|merge([{ label: tax, count: value }]) %}
    {% endfor %}

{% set ord_array = array|sort_by_key('label') %}

    {% for i in ord_array %}
        <li>
        <a href="{{ base_url }}{{ taxonomy }}{{ config.system.param_sep }}{{ i.label }}">{{ i.label|capitalize }}
        <span class="label">{{ i.count }}</span></a>
        </li>
    {% endfor %}

</ul>
{% endif %}
